.projects-container {
  background: linear-gradient(255.84deg, #cacaca 17.28%, #e0e0e000 66%);
  height: 350px;
  padding-top: 45px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container > h3 {
  font-family: "Open Sans";
  font-size: 26pt;
  text-align: center;
  margin: 0px auto;
  color: #292929;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
  width: 300px;
  height: 70px;
  border-bottom: 1.4px solid #29292952;
  opacity: 0;
  /* animation: show-projects 450ms ease-in-out forwards; */
}

.projects-container > ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex: 1;
}

.repository {
  opacity: 0;
  width: fit-content;
  margin: 10px auto;
  padding: 0px;
  list-style: none;
}

.repository > img {
  width: 16px;
  height: 21.33px;
  margin: 0px 5px;
}

.repository > a {
  width: auto;
  font-family: "Open Sans";
  color: #515151;
  font-size: 20pt;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  cursor: pointer;
}

.repository > a:hover {
  text-decoration: underline;
}

@keyframes show-projects {
  from {
    opacity: 0;
    transform: translateX(2%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
