.box-tecnologies {
  height: auto;
  width: 100%;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px !important;
  background: linear-gradient(159.65deg, #a7a7a7 15.27%, #c9c9c9 86.62%);
  flex-wrap: wrap;
  z-index: 5;
}

.box-tecnologies > div {
  margin: 110px auto;
}

@keyframes show-interactive {
  from {
    opacity: 0;
    transform: translateX(-3%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*
  left
*/

.box-interactive-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 75%;
  max-width: 650px;
  min-width: 450px;
  opacity: 0;
}

.box-interactive-left > span {
  margin: 0px 10px;
  font-family: "Open Sans";
  font-size: 14pt;
  text-align: left;
  color: #292929;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.box-interactive-left > div {
  grid-area: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-interactive-left > div > img {
  width: 90px;
  height: 90px;
  border-radius: 3px;
}

/*
  right
*/

.box-interactive-right {
  margin: 0px 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 75%;
  max-width: 650px;
  min-width: 450px;
  opacity: 0;
}

.box-interactive-right > span {
  margin: 0px 10px;
  font-family: "Open Sans";
  font-size: 14pt;
  text-align: right;
  color: #292929;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.box-interactive-right > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-interactive-right > div > img {
  width: 90px;
  height: 90px;
  border-radius: 3px;
}
