.conversation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: show-container-cvs 550ms ease-in-out backwards;
  animation-delay: 500ms;
}

.conversation > span {
  font-family: "Open Sans", sans-serif;
  font-size: 32pt;
  align-items: center;
  text-align: center;
  color: #292929;
  text-shadow: 0px 2px 3px #0000003a;
  transition: 150ms ease-in-out;
}

@keyframes show-container-cvs {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes show-conversation {
  from {
    opacity: 0;
  }
  to {
    scale: 1;
  }
}
